**Using this template**

1. Change notebook title to assignment title you working on, eg. `Graded Challenge 1 or Milestone 1`
2. Put your identity such as name and batch number below notebook title.
3. Write your description before do any work. State your purpose of this assignment and what you are trying to achieve. 
4. Look at the rubric of this assignment and make sure you understand the criteria.
5. Code your solution in the cell provided below the working area section.
6. State your conlusions, findings, and any other relevant information in the cell provided below the conclusions sections.
7. Save this notebook and rename it to assignment title you working on  eg. `Graded Challenge 1 or Milestone 1`
8. Push your assignment before deadline.
9. Good Luck!

# Notebook Title

Live Code 1
Luvi Puspitasari  Batch 11

## Description
1.Data jumlah kasus harian Covid-19
2.Variabel kasus positif harian Covid-19
3.Kasus Tertinggi di Indonesia pada tanggal berapa dan kenaikan serta penurunan kasus dibandingkan tanggal 10 April 2022
4.Jumlah hari pada kasus dibawah 10000

### Objective

`Write your objective here`

### Problem Statement

`Write your problem statement here`

## Working Area

```txt
Put your code, analysis, everything below this line

Make sure to check everything the rubric requires before you submit
```

In [14]:
import pandas as pd
import numpy as np

## Data Penambahan Kasus Covid-19 Pada 22 Januari 2020 - 13 April 2022

In [18]:
pd.read_csv('data_covid_dunia_13_apr_22.csv')

,Unnamed: 0,Afghanistan,Albania,Algeria,Andorra,Angola,Antarctica,Antigua and Barbuda,Argentina,Armenia,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Winter Olympics 2022,Yemen,Zambia,Zimbabwe
0,1/22/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1/23/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
2,1/24/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
3,1/25/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
4,1/26/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
808,4/9/22,177974,274191,265720,40328,99194,11,7511,9052083,422662,...,893575,238040,5125,521373,10169929,656287,535,11813,317483,246925
809,4/10/22,177974,274219,265724,40328,99194,11,7511,9052536,422677,...,893909,238071,5480,521471,10198236,656287,535,11813,317483,246958
810,4/11/22,178141,274219,265727,40328,99194,11,7511,9054126,422678,...,894267,238088,5487,521471,10250160,656287,535,11814,317804,247010
811,4/12/22,178257,274272,265730,40328,99194,11,7523,9056203,422691,...,894630,238098,5536,521546,10272964,656617,535,11814,317804,247094
812,4/13/22,178295,274320,265731,40709,99194,11,7523,9057923,422711,...,894984,238145,5543,521714,10297587,656617,535,11815,318113,247160

In [65]:
rows_without_missing_data = df.dropna()

In [46]:
df = pd.read_csv('data_covid_dunia_13_apr_22.csv')

In [67]:
rows_without_missing_data.shape

(813, 285)

In [68]:
data_with_default_notes = df.copy

In [33]:
pd.set_option("display.precision", 2)

In [45]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Afghanistan,813.0,80561.62,61512.72,0.0,37431.0,55770.0,154757.0,178295.0
Albania,813.0,100322.11,90133.75,0.0,6817.0,109674.0,165096.0,274320.0
Algeria,813.0,115495.53,86318.39,0.0,36699.0,113593.0,202122.0,265731.0
Andorra,813.0,11656.04,11227.96,0.0,977.0,10948.0,15153.0,40709.0
Angola,813.0,32137.78,32489.87,0.0,1762.0,20923.0,53387.0,99194.0
...,...,...,...,...,...,...,...,...
West Bank and Gaza,813.0,228007.04,208486.91,0.0,15184.0,189326.0,390369.0,656617.0
Winter Olympics 2022,813.0,46.63,145.91,0.0,0.0,0.0,0.0,535.0
Yemen,813.0,4861.36,4045.33,0.0,1841.0,2363.0,8789.0,11815.0
Zambia,813.0,106507.69,108930.35,0.0,8501.0,80090.0,208676.0,318113.0
Zimbabwe,813.0,68394.26,81157.55,0.0,4893.0,36179.0,128804.0,247160.0

In [19]:
df.head()

,Unnamed: 0,Afghanistan,Albania,Algeria,Andorra,Angola,Antarctica,Antigua and Barbuda,Argentina,Armenia,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Winter Olympics 2022,Yemen,Zambia,Zimbabwe
0,1/22/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1/23/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
2,1/24/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
3,1/25/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
4,1/26/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 813 entries, 0 to 812
Columns: 285 entries, Unnamed: 0 to Zimbabwe
dtypes: int64(284), object(1)
memory usage: 1.8+ MB

In [49]:
rows_without_missing_data = df.dropna()

In [50]:
rows_without_missing_data.shape

(813, 285)

In [54]:
df.isnull().sum()

Unnamed: 0              0
Afghanistan             0
Albania                 0
Algeria                 0
Andorra                 0
                       ..
West Bank and Gaza      0
Winter Olympics 2022    0
Yemen                   0
Zambia                  0
Zimbabwe                0
Length: 285, dtype: int64

In [55]:
df.isnull().values.any()

False

In [56]:
df.isnull().sum().sum()

0

## Kasus Tertinggi di Indonesia

In [63]:
df['Indonesia'].value_counts()

0          40
6015748     4
2           4
5986830     3
4100138     2
           ..
478720      1
483518      1
488310      1
493308      1
6036909     1
Name: Indonesia, Length: 762, dtype: int64

In [52]:
df["Indonesia"].value_counts().head(5)

0          40
6015748     4
2           4
5986830     3
4100138     2
Name: Indonesia, dtype: int64

In [69]:
df[]

KeyError: 'Unnamed : 0'

## Conclusions, Assumptions, Overall Analysis

`put your conclusions here`